.menu-item {
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    color: white;
}

.menu-item:hover {
    background-color: var(--color-primary-light);
    color: var(--color-primary-dark);
}